<?xml version="1.0" encoding="UTF-8"?>
<!--
  SPDX-FileCopyrightText: 2025 Deutsche Telekom AG and others

  SPDX-License-Identifier: Apache-2.0
-->
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- ### Human readable logging for profiles 'default' and 'local' ### -->
    <springProfile name="default | local">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ### JSON logging for profile 'log-json' - for testing purposes ### -->
    <springProfile name="log-json">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

</configuration>
